/* main.css */
header {
    min-width:1080px;
}
#gnb {
    position: relative; height: 70px; background-color: #ffffff;
    text-align: center;
}
#logo {display: inline-block; margin-top: 10px;}
.user_menu {position: absolute; right: 20px; top: 15px;}
.user_menu a {
    display: inline-block; color: #000000; text-decoration: none;
    padding:10px 20px; border:3px solid #000;
    font-weight: bold; font-size: 18px;
    border-radius: 100px; margin-left: 10px;
    transition:all 0.3s;
}
.user_menu a:hover {
    background-color: deepskyblue;
    border-color: deepskyblue;
    color: #ffffff;
}
#menu_btn {
    display: inline-block; width: 40px; height: 40px;
    left: 20px; top: 15px; position: absolute;
    z-index: 99999;
}
#menu_btn .line {
    display: block; height: 5px; background-color: #333333;
    position: absolute; width: 100%; border-radius: 100px;
    transition:transform 0.3s, opacity 0.3s;
}
#menu_btn .line:nth-child(2) {top: 18px;}
#menu_btn .line:nth-child(3) {bottom: 0;}

#menu_btn.on .line:nth-child(1) {transform:translateY(17.5px) rotate(45deg);}
#menu_btn.on .line:nth-child(2) {transform:translateX(-50px); opacity:0;}
#menu_btn.on .line:nth-child(3) {transform:translateY(-17.5px) rotate(-45deg);}

.menu {
    position: fixed; width: 100%; height: 100%;
    top: 0; left: 0; display: none;
    z-index: 9;
}
.menu .bg {
    position: absolute; width: 100%; height: 100%;
    left: 0; top: 0; background-color:rgba(0,0,0,0.5);
    opacity: 0;
    /* transition:opacity 0.3s; */
}
.menu_content {
    position: relative; height: 100%;
    width: 400px; background-color: #fff;
    margin-left: -400px; opacity: 0;
    /* transition:margin 0.3s, opacity 0.3s; */
}

/* .menu.on {display: block;}
.menu.on .bg {opacity: 1;}
.menu.on .menu_content {margin-left: 0; opacity: 1;} */

.top_bar {
    height: 70px; border-bottom: 1px solid #ddd;
}
.menu_list {padding:30px;}
.menu_list p {
    font-size: 22px; font-weight: bold;
    margin-bottom: 20px;
}
.menu_grp { margin-bottom: 40px;}
.menu_grp > a {color: #666666; font-size: 12px;
    text-decoration: none;
    margin:5px;
}
.menu_grp > a:hover {text-decoration: underline;}
.menu_bottom {position: absolute; bottom: 0; left: 0;
    padding:30px; background-color: #333333;
}
.menu_bottom table {
    width: 340px;
}
.menu_bottom table td {line-height: 2.5; color: #ffffff;
    width: 33.33%;
}
.menu_bottom table td a {color: #ffffff; text-decoration: none;
    font-size: 12px; position: relative; top: -2px;
}
.menu_bottom table td a:hover {text-decoration: underline;}

.main_banner_area {height: 550px; position: relative;}
.banner_item {
    width: 100%; height: 550px; background-position:center;
    position: absolute; display: none; opacity: 0;
}
.banner_item:nth-child(2) {
    display: block; opacity: 1;
}
/* .banner_item:nth-child(1) {background-image:url("http://placehold.it/1920x550/fab")}
.banner_item:nth-child(2) {background-image:url("http://placehold.it/1920x550/afb")}
.banner_item:nth-child(3) {background-image:url("http://placehold.it/1920x550/abf")}
.banner_item:nth-child(4) {background-image:url("http://placehold.it/1920x550/a50")}
.banner_item:nth-child(5) {background-image:url("http://placehold.it/1920x550/09a")} */

.b_item_text {width: 1080px; margin:0 auto; text-align: center;}
.b_item_text h2 {
    font-size: 64px; color: #ffffff;
    font-weight: lighter;
    padding-top: 150px;
}
.b_item_text h3 {
    font-size: 32px; font-weight: lighter; color: #ffffff;
    margin-top: 20px; line-height: 1.3;
}
.b_item_text a {
    font-size: 20px; display: inline-block; padding:15px 30px;
    color: #ffffff; text-decoration: none;
    border: 2px solid #fff;
    margin-top: 30px;
}
.b_item_text a:hover {
    background-color: #ffffff; color: #333333;
}

.pager_area {position: absolute; bottom: 0;
    width: 1080px; left: 50%; margin-left: -540px;
    overflow: hidden; z-index: 9;
}
.pager_item {float: left; width: 20%;
    background-color:rgba(0,0,0,0.4);
    color: #ffffff; box-sizing: border-box;
    padding:15px; user-select:none; cursor:pointer;
}
.pager_item p {font-size: 12px; margin-bottom: 5px;}
.pager_item h3 {font-size: 20px; font-weight: bold;
    width: 100%; overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap;
}
.pager_item:hover {background-color: rgba(0,0,0,0.6);}
.pager_item.on {background-color:deepskyblue;}

section {margin-bottom: 100px;}
.section_wrap {
    width: 1080px; margin:0 auto;
}
main {background-color: #fdfdfd;}
.section_wrap > h1 {
    font-size: 32px; font-weight: bold; margin-bottom: 50px;
}
.recommand_list {font-size: 0;}
.recommand_item {
    width: 250px; display: inline-block;
    background-color: #fff;
    transition: box-shadow 0.2s; margin:10px;
}
.recommand_item:hover {box-shadow:0 3px 10px rgba(0,0,0,0.2); }
.r_text_area { padding:20px 15px;}
.r_text_area h2 {font-size: 18px; font-weight: bold; margin-bottom: 10px;
    width:100%; overflow: hidden; white-space: nowrap;
    text-overflow: ellipsis;
}
.r_text_area p {font-size: 14px;color: #666666;
    width:100%; overflow: hidden; white-space: nowrap;
    text-overflow: ellipsis;
}
.r_text_area p:first-of-type {margin-bottom: 20px;}
.r_text_area p:last-of-type {padding-top: 20px; text-align: right;
    border-top: 1px solid #eee;
}
.r_img_area {overflow: hidden; width: 250px; height: 200px;
position: relative;}
.r_img_area img {transform: scale(1); transition:transform 0.5s;}
.recommand_item:hover .r_img_area img {transform: scale(1.3);}
.r_img_area .icon_area {
    position: absolute; left: 0; top: 0; font-size: 12px;
    text-align: center; line-height: 40px; font-weight: bold;
    color: #ffffff;
}
.icon_area > div {float: left; width: 40px; height: 40px;
display: none;}
.icon_area > .new {background-color:skyblue;}
.icon_area > .discount {background-color:crimson;}
.icon_area > .event {background-color:lightseagreen;}
.new .icon_area > .new {display: block;}
.discount .icon_area > .discount {display: block;}
.event .icon_area > .event {display: block;}

.parallax_area {
    background-image:url("http://placekitten.com/1920/1080");
    background-position:center;
    background-attachment: fixed;
    height: 2000px;
}
.parallax_area > h1 {
    position: fixed; font-size: 120px; color: #ffffff;
    z-index: 99; left: 0; top: 0; font-weight: bold;
    white-space: nowrap; top: 50%; margin-top: -60px;
    left: 100%;
}
.parallax_area img {
    position: fixed; left:200px; top: 200px;
    opacity: 0; display: none;
}
.filter {padding:20px; background-color: #ffffff;
    width: 1080px; margin:0 0 40px 10px;
}
.filter > a {
    display: inline-block; vertical-align: middle;
    padding:7px 10px; color: #333333; text-decoration: none;
    border: 1px solid #333; margin-right: 10px;
    font-size: 12px; border-radius: 50px;
}
.pop_list {font-size: 0;}
.filter > a.active {
    background-color: #333333; color: #ffffff;
}
